
.App {
  position: relative;
 
  background: url(
    https://i.stack.imgur.com/mG3Vb.png) top   /100% 50%,
    url(https://i.stack.imgur.com/JSEyE.png) bottom/100% 50%,
    linear-gradient(to bottom right, #6bf5d7, #353232);;
    background-repeat: no-repeat, no-repeat;
 
  height: 100vh;

}

.form-container{
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-container{
  background: url(right.png) top   /100% 50%,
    url(left.png) bottom/100% 50%,
    linear-gradient(to top right, #6bf5d7, #353232);;
    background-repeat: no-repeat, no-repeat;
 
  height: 100vh; height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.side-heading{
  display: flex;
flex-direction: row;
margin-top: 10px;
margin-bottom: 10px;
width: 100%;

}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  
}